* {
    margin: 0;
    padding: 0;
}

.container {
    background: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc,
    10px 10px 10px #ffffff,
    0 0 0 #cccccc inset,
    0 0 0 #ffffff inset;
    animation: animBox 3s cubic-bezier(0.16, 1, 0.3, 1) 1s forwards, animTitle 3s cubic-bezier(0.16, 1, 0.3, 1) 1s forwards;
}

@keyframes animBox {
    0% {
        width: 60px;
        height: 60px;
        background: #f8f8f8;
    }
    33% {
        width: 60px;
        height: 60px;
        background: #f8f8f8;
    }
    66% {
        width: 60px;
        height: 400px;
        background: #f8f8f8;
    }
    100% {
        width: 360px;
        height: 400px;
        background: #fafafa;
    }
}

.titleText {
    animation: textAnim 1s forwards;
    white-space: nowrap;
}

@keyframes textAnim {
    0% {
        color: rgba(64, 64, 64, 0);
    }
    33% {
        color: rgba(64, 64, 64 0.55);
    }
    66% {
        color: rgba(64, 64, 64, 0.9);
    }
    100% {
        color: rgba(64, 64, 64 1);
    }
}
